{% extends 'generic/card_form.html' %}

{% load bootstrap4 %}

{% block subtitle %}Modifier l'union de "{{ object.get_family.father_fk }}" et de "{{ object.get_family.mother_fk }}":{% endblock %}

{% block form_title %}Modifier l'union de "{{ object.get_family.father_fk }}" et de "{{ object.get_family.mother_fk }}":{% endblock %}

{% block form_body %}
	<form action="" method="post" class="form">
		{% csrf_token %}
		{% bootstrap_form form %}
		{% buttons %}
			<a class="btn btn-warning" href="{% url 'core:family_detail' object.get_family.pk %}">Annuler</a>
			<button type="submit" class="btn btn-primary">Valider</button>
		{% endbuttons %}
	</form>
{% endblock %}