{% extends 'base.html' %}

{% block subtitle %}{{ object.first_name }} {{ object.family_name }}{% endblock %}

{% block extras_nav %}
	<hr>
	{% include 'geneafamilycore/family/nav_block.html' %}
	{% include 'geneafamilycore/birth/nav_block.html' %}
	{% include 'geneafamilycore/death/nav_block.html' %}
	{% include 'geneafamilycore/baptism/nav_block.html' %}
	{% include 'geneafamilycore/job/nav_block.html' %}
	{% include 'geneafamilycore/residence/nav_block.html' %}
	{% include 'geneafamilycore/military/nav_block.html' %}
	{% include 'geneafamilycore/source/nav_block.html' %}
{% endblock %}

{% block content %}

<div class="col-12">
	<ul class="nav nav-tabs" id="myTab" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" id="descriptif-tab" data-toggle="tab" href="#descriptif" role="tab" aria-controls="descriptif" aria-selected="true">Vue descriptive</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="narrativ-tab" data-toggle="tab" href="#narrativ" role="tab" aria-controls="narrativ" aria-selected="false">Vue narrative</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="tree-tab" data-toggle="tab" href="#tree" role="tab" aria-controls="tree" aria-selected="false">Vue diagramme Arbre</a>
		</li>
	</ul>
</div>

<div class="tab-content" id="myTabContent">
	<div class="tab-pane fade show active" id="descriptif" role="tabpanel" aria-labelledby="descriptif-tab">
		<div class="col-12">
			{% include 'geneafamilycore/member/detail_block.html' with member=object %}
		</div>

		<div class="col-12">
			{% if object.get_parents %}
				{% include 'geneafamilycore/family/detail_block_parents.html' with parents=object.get_parents member=object %}
			{% endif %}
		</div>

		<div class="col-12">
			{% if object.get_families %}
				{% include 'geneafamilycore/family/detail_block_families.html' with families=object.get_families member=object %}
			{% endif %}
		</div>

		<div class="col-12">
			{% if object.birth_fk %}
				{% include 'geneafamilycore/birth/detail_block.html' with object=object.birth_fk member=object %}
			{% endif %}
		</div>

		<div class="col-12">
			{% if object.death_fk %}
				{% include 'geneafamilycore/death/detail_block.html' with object=object.death_fk member=object %}
			{% endif %}
		</div>

		<div class="col-12">
			{% if object.baptism_fk %}
				{% include 'geneafamilycore/baptism/detail_block.html' with object=object.baptism_fk member=object %}
			{% endif %}
		</div>

		<div class="col-12">
			{% if object.military_fk %}
				{% include 'geneafamilycore/military/detail_block.html' with object=object.military_fk member=object %}
			{% endif %}
		</div>

		<div class="col-12">
			{% if object.get_residences %}
				{% include 'geneafamilycore/residence/detail_block.html' with object_list=object.get_residences member=object %}
			{% endif %}
		</div>

		<div class="col-12">
			{% if object.get_jobs %}
				{% include 'geneafamilycore/job/detail_block.html' with object_list=object.get_jobs member=object %}
			{% endif %}
		</div>

		<div class="col-12">
			{% if object.get_sources %}
				{% include 'geneafamilycore/source/detail_block.html' with object_list=object.get_sources member=object %}
			{% endif %}
		</div>
	</div>
	<div class="tab-pane fade" id="narrativ" role="tabpanel" aria-labelledby="narrativ-tab">profile</div>
	<div class="tab-pane fade" id="tree" role="tabpanel" aria-labelledby="tree-tab">...</div>
</div>
{% endblock %}