<a href="#unions_menu" class="list-group-item d-inline-block collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-venus-mars"></i> <span class="d-none d-md-inline">Unions</span></a>
<div class="collapse" id="unions_menu">
	<a href="#unions" class="list-group-item" data-parent="#unions_menu"><i class="fa fa-eye"></i> Voir</a>
	<a href="#" class="list-group-item" data-parent="#unions_menu"><i class="fa fa-pencil"></i> Créer</a>
	<a href="#" class="list-group-item" data-parent="#unions_menu"><i class="fa fa-pencil-square-o"></i> Modifier</a>
	<a href="#" class="list-group-item" data-parent="#unions_menu"><i class="fa fa-trash-o"></i> Supprimer</a>
</div>