<div style="padding: 15px;">
    <div id="death" class="col-12 carde" style="padding: 0px;">
        <div class="card-header">
            <div class="row">
                <div class="col">
                    <h3><i class="fa fa-heart-o"></i> Décès:</h3>
                </div>
                <div class="col-2">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Actions
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<a class="dropdown-item" href="{% url 'core:update_death' object.pk %}">Modifier</a>
							<a class="dropdown-item" href="{% url 'core:delete_death' object.pk %}">Supprimer</a>
							<a class="dropdown-item" href="{% url 'core:death_add_witness' object.pk %}">Ajouter un témoin</a>
							<a class="dropdown-item" href="{% url 'core:death_add_comparer' object.pk %}">Ajouter un comparant</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <p><strong>Décédé le: </strong>{{ object.date }}</p>
                    <p><strong>À: </strong>[TODO]</p>
                    <p><strong>Raison: </strong>{{ object.get_death_reason_display }}</p>
                </div>
                {% if object.get_comparers %}
                    <div class="col">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="col">Comparants</th>
                                    <th class="col-1">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for comparer in object.get_comparers %}
                                <td><a href="{% url 'core:member_detail' comparer.member_fk.pk %}">{{ comparer.member_fk }}</a></td>
                                <td><a class="btn btn-sm btn-danger" href="{% url 'core:death_remove_comparer' comparer.pk %}"><i class="fa fa-close"></i></a></td>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                {% if object.get_witnesses %}
                    <div class="col">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="col">Témoins</th>
                                    <th class="col-1">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for witness in object.get_witnesses %}
                                <td><a href="{% url 'core:member_detail' witness.member_fk.pk %}">{{ witness.member_fk }}</a></td>
                                <td><a class="btn btn-sm btn-danger" href="{% url 'core:death_remove_witness' witness.pk %}"><i class="fa fa-close"></i></a></td>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>