{% extends 'generic/card_form.html' %}

{% load bootstrap4 %}

{% block subtitle %}Supprimer le décès de "{{ object.get_member }}":{% endblock %}

{% block form_title %}Supprimer le décès de "{{ object.get_member }}":{% endblock %}

{% block form_body %}
	<form action="" method="post" class="form">
		{% csrf_token %}
		<p>Confirmer la suppression du décès de "{{ object.get_member }}" ?</p>
		<a class="btn btn-warning" href="{% url 'core:member_detail' object.get_member.pk %}">Annuler</a>
		<button type="submit" class="btn btn-primary">Supprimer</button>
	</form>
{% endblock %}