{% extends 'base.html' %}

{% block subtitle %}Detail du métier "{{ object.job_name }}" de "{{ object.member_fk }}"{% endblock %}

{% block content %}
<div style="padding: 15px;">
    <div id="death" class="col-12 carde" style="padding: 0px;">
        <div class="card-header">
            <div class="row">
                <div class="col">
                    <h3><i class="fa fa-heart-o"></i> Lieu:</h3>
                </div>
                <div class="col-2">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Actions
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<a class="dropdown-item" href="{% url 'core:update_job' object.pk %}">Modifier</a>
							<a class="dropdown-item" href="{% url 'core:delete_job' object.pk %}">Supprimer</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <p><strong>Profession: </strong>{{ object.job_name }}</p>
                    <p><strong>Date: </strong>{{ object.date }}</p>
                    <p><strong>À: </strong>[TODO]</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
