<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
	<title>{% block title %}GeneaFamily{% endblock %}</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
	<a class="navbar-brand" href="/">GeneaFamily</a>
	<div class="collapse navbar-collapse" id="navbar">
		<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
			<li class="nav-item active">
				<a class="nav-link" href="/">Accueil</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'core:all_members' %}">Individu</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'core:all_families' %}">Famille</a>
			</li>
		</ul>
	</div>
</nav>

<div class="col-12" style="height: 20px;"></div>

<div class="container">
	<div class="row"><h1>{% block subtitle %}{% endblock %}</h1></div>
	<div class="row">{% block content %}{% endblock %}</div>
</div>
<script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/popper.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
{% block extra_js %}
{% endblock %}
</body>
</html>