{% extends 'base.html' %}

{% block subtitle %}Liste de tous les lieux:{% endblock %}

{% block content %}

{% if not object_list %}
<p>Aucun lieu à afficher, pour créer un lieu maintenant <a href="{% url 'core:create_locality' %}">cliquez ici</a>.</p>
{% endif %}

<table class="table table-bordered">
	<thead>
		<tr>
			<th>#</th>
			<th>Pays</th>
			<th>Ville</th>
			<th>Complément d'adresse</th>
			<th>Latitude</th>
			<th>Longitude</th>
		</tr>
	</thead>
	<tbody>
	{% for locality in object_list %}
		<tr>
			<th scope="row">{{ locality.pk }}</th>
			<td><a href="{% url 'core:locality_detail' locality.pk %}">{{ locality.country }}</a></td>
			<td>{{ locality.city }}</td>
			<td>{{ locality.additional_address_information }}</td>
			<td>{% if object.latitude %}{{ object.latitude }}{% endif %}</td>
			<td>{% if object.longitude %}{{ object.longitude }}{% endif %}</td>
		</tr>
	{% empty %}
		<tr>
			<th scope="row">...</th>
			<td>...</td>
			<td>...</td>
			<td>...</td>
			<td>...</td>
			<td>...</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
{% include 'generic/pagination.html' %}
{% endblock %}