{% extends 'generic/card_form.html' %}

{% load bootstrap4 %}

{% block subtitle %}Créer la naissance de "{{ member }}":{% endblock %}

{% block form_title %}Créer la naissance de "{{ member }}":{% endblock %}

{% block form_body %}
	<form action="" method="post" class="form">
		{% csrf_token %}
		{% bootstrap_form form %}
		{% buttons %}
			<a class="btn btn-warning" href="{% url 'core:member_detail' member.pk %}">Annuler</a>
			<button type="submit" class="btn btn-primary">Créer</button>
		{% endbuttons %}
	</form>
{% endblock %}