{% extends 'base.html' %}

{% block subtitle %}Liste de toutes les naissances:{% endblock %}

{% block content %}

<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>#</th>
			<th>Prénom</th>
			<th>Nom de famille</th>
			<th>Genre</th>
			<th>Type</th>
			<th>Date</th>
			<th class="text-center" style="width: 10%;">Actions</th>
		</tr>
	</thead>
	<tbody>
	{% for birth in object_list %}
		<tr>
			<th>{{ birth.pk }}</th>
			<td><a href="{% url 'core:birth_detail' birth.pk %}">{{ birth.get_member.first_name }}</a></td>
			<td>{{ birth.get_member.family_name }}</td>
			<td>{{ birth.get_member.get_gender_display }}</td>
			<td>{{ birth.get_birth_type_display }}</td>
			<td>{{ birth.date }} {% if birth.date_is_approximately %}*{% endif %}</td>
			<td class="text-center">
				<button type="button" class="btn btn-warning" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<i class="fa fa-cog"></i>
				</button>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="{% url 'core:birth_detail' birth.pk %}">Voir</a>
					<a class="dropdown-item" href="{% url 'core:update_birth' birth.get_member.pk %}">Modifier</a>
					<a class="dropdown-item" href="{% url 'core:delete_birth' birth.pk %}">Supprimer</a>
				</div>
			</td>
		</tr>
	{% empty %}
		<tr>
			<th scope="row">...</th>
			<td>...</td>
			<td>...</td>
			<td>...</td>
			<td>...</td>
			<td>...</td>
			<td>...</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
{% include 'generic/pagination.html' %}
{% endblock %}