{% extends 'generic/card_form.html' %}

{% load bootstrap4 %}

{% block subtitle %}Supprimer la source {{ object.get_source_type_display }} de "{{ object.member_fk }}":{% endblock %}

{% block form_title %}Supprimer la source {{ object.get_source_type_display }} de "{{ object.member_fk }}":{% endblock %}

{% block form_body %}
	<form action="" method="post" class="form">
		{% csrf_token %}
		<p>Confirmer la suppression de la source {{ object.get_source_type_display }} de "{{ object.member_fk }}" ?</p>
		<a class="btn btn-warning" href="{% url 'core:member_detail' object.member_fk.pk %}">Annuler</a>
		<button type="submit" class="btn btn-primary">Supprimer</button>
	</form>
{% endblock %}