{% extends 'base.html' %}

{% block subtitle %}Liste de tous les fiches militaires:{% endblock %}

{% block content %}

{% if not object_list %}<p>Aucune fiche militaire à afficher</p>{% endif %}

<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>#</th>
			<th>Individu</th>
			<th>Matricule</th>
			<th>Classe de mobilisation</th>
			<th class="text-center">Actions</th>
		</tr>
	</thead>
	<tbody>
	{% for military in object_list %}
		<tr>
			<th scope="row">{{ military.pk }}</th>
			<td><a href="{% url 'core:member_detail' military.get_member.pk %}">{{ military.get_member }}</a></td>
			<td>{% if military.recruitment_matricul_number %}{{ military.recruitment_matricul_number }}{% endif %}</td>
			<td>{% if military.mobilisation_class %}{{ military.mobilisation_class }}{% endif %}</td>
			<td class="text-center">
				<button type="button" class="btn btn-warning" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<i class="fa fa-cog"></i>
				</button>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="{% url 'core:military_detail' military.pk %}">Voir</a>
					<a class="dropdown-item" href="{% url 'core:delete_military' military.pk %}">Supprimer</a>
				</div>
			</td>
		</tr>
	{% empty %}
		<tr>
			<th scope="row">...</th>
			<td>...</td>
			<td>...</td>
			<td>...</td>
			<td>...</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
{% include 'generic/pagination.html' %}
{% endblock %}