<div style="padding: 15px;">
    <div id="military" class="col-22 carde" style="padding: 0px;">
        <div class="card-header">
            <div class="row">
                <div class="col">
                    <h3><i class="fa fa-vcard-o"></i> Fiche militaire:</h3>
                </div>
                <div class="col-2">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Actions
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<a class="dropdown-item" href="{% url 'core:delete_military' object.pk %}">Supprimer</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
<!-- SIGNALEMENT -->
<div class="card">
	<div class="card-header">
		<div class="row">
			<h4 class="col card-title">Signalement:</h4>
			<div class="col-2 dropdown">
				<button class="btn btn-sm btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions</button>
				<div class="dropdown-menu" aria-strongledby="dropdownMenuButton">
					<a class="dropdown-item" href="{% url 'core:update_signalment_military' object.pk %}">Modifier</a>
				</div>
			</div>
		</div>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col">
				<p><strong>Visage:</strong> {{ object.head }}</p>
				<p><strong>Cheveux:</strong> {{ object.hair }}</p>
				<p><strong>Front:</strong> {{ object.forehead }}</p>
				<p><strong>Yeux:</strong> {{ object.eyes }}</p>
				<p><strong>Nez:</strong> {{ object.nose }}</p>
				<p><strong>Bouche:</strong> {{ object.mouth }}</p>
				<p><strong>Menton:</strong> {{ object.chin }}</p>
				<p><strong>Taille:</strong> {% if object.size %}{{ object.size }}{% endif %}</p>
				<p><strong>Taille rectifiée:</strong> {% if object.rectified_size %}{{ object.rectified_size }}{% endif %}</p>
			</div>
			<div class="col">
				<p><strong>Remarques complémentaires:</strong> {{ object.additional_note }}</p>
				<p><strong>Marques particulières:</strong> {{ object.special_brand }}</p>
			</div>
		</div>
	</div>
</div>

<!-- MATRICULE -->
<div class="card">
	<div class="card-header">
		<div class="row">
			<h4 class="col card-title">Matricule:</h4>
			<div class="col-2 dropdown">
				<button class="btn btn-sm btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions</button>
				<div class="dropdown-menu" aria-strongledby="dropdownMenuButton">
					<a class="dropdown-item" href="{% url 'core:update_class_military' object.pk %}">Modifier</a>
				</div>
			</div>
		</div>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col">
				<p><strong>Numéro matricule du recrutement:</strong> {% if object.recruitment_matricul_number %}{{ object.recruitment_matricul_number }}{% endif %}</p>
				<p><strong>Classe de mobilisation:</strong> {% if object.mobilisation_class %}{{ object.mobilisation_class }}{% endif %}</p>
			</div>
		</div>
	</div>
</div>

<!-- DEGRÉ D'INSTRUCTION -->
<div class="card">
	<div class="card-header">
		<div class="row">
			<h4 class="col card-title">Degré d'instruction:</h4>
			<div class="col-2 dropdown">
				<button class="btn btn-sm btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions</button>
				<div class="dropdown-menu" aria-strongledby="dropdownMenuButton">
					<a class="dropdown-item" href="{% url 'core:update_instruction_military' object.pk %}">Modifier</a>
				</div>
			</div>
		</div>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col">
				<p><strong>Degré d'instruction général:</strong> {{ object.get_general_instruction_display }}</p>
				<p><strong>Degré d'instruction militaire:</strong> {{ object.get_military_instruction_display }}</p>
			</div>
		</div>
	</div>
</div>

<!-- DECISION DU CONSEIL DE REVISION ET MOTIFS -->
<div class="card">
	<div class="card-header">
		<div class="row">
			<h4 class="col card-title">Décision du conseil de révision et motifs:</h4>
			<div class="col-2 dropdown">
				<button class="btn btn-sm btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions</button>
				<div class="dropdown-menu" aria-strongledby="dropdownMenuButton">
					<a class="dropdown-item" href="{% url 'core:update_recruitment_military' object.pk %}">Modifier</a>
				</div>
			</div>
		</div>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col">
				<p>Inscrit sous le n'°{% if object.recruitment_draw %}{{ object.recruitment_draw }}{% else %}...{% endif %} de la liste du canton {% if object.canton_recruitment %}{{ object.canton_recruitment }}{% else %}...{% endif %}</p>
			</div>
		</div>
	</div>
</div>

<!-- SOURCE -->
<div class="card">
	<div class="card-header">
		<div class="row">
			<h4 class="col card-title">Source:</h4>
			<div class="col-2 dropdown">
				<button class="btn btn-sm btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions</button>
				<div class="dropdown-menu" aria-strongledby="dropdownMenuButton">
					<a class="dropdown-item" href="{% url 'core:create_source' object.get_member.pk %}">Ajouter</a>
				</div>
			</div>
		</div>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col">
				{% include 'geneafamilycore/source/additional_block.html' with object=object.get_sources member=member %}
			</div>
		</div>
	</div>
</div>
        </div>
    </div>
</div>