{% extends 'generic/card_form.html' %}

{% block subtitle %}Supprimer un metier pour "{{ object.member_fk }}":{% endblock %}

{% block form_title %}Supprimer un metier pour "{{ object.member_fk }}":{% endblock %}

{% block form_body %}
	<form action="" method="post" class="form">
		{% csrf_token %}
		<p>Valider la suppression de ce metier ? </p>
		<a class="btn btn-warning" href="{% url 'core:member_detail' object.member_fk.pk %}">Annuler</a>
		<button type="submit" class="btn btn-primary">Supprimer</button>
	</form>
{% endblock %}